$color-text: rgb(120, 120, 120);
$font-text-small: 13px;

.frame {
  padding: 10px;
  width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  }

  img {
    width: 250px;
  }

  .title-product {
    color: $color-text;
    margin-top: 10px;
  }

  .price {
    display: flex;

    p {
      margin-right: 13px;
      font-weight: bold;
      margin-bottom: 5px;
      color: $color-text;
      font-size: $font-text-small;
    }
  }

  .origin-price {
    color: $color-text;
    font-size: $font-text-small;
    text-decoration: line-through;
  }
}