@import "../../ultis/color.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding: 15px 0;
    }

    .navbar {
        &__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            list-style: none;
            margin-bottom: 0;
        }

        &__item {
            color: #111;
            font-weight: 700;
            font-size: 16px;

            &:hover,
            &-active {
                color: $primaryGreen;
            }
        }
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
            margin: 0 24px;
        }
    }
}