@import '../../utils/Color.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .menu {
        .menuList {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin-bottom: 0;

            &__item {
                padding: 12px 12px 0;
                color: $primaryGreen;
                font-weight: 700;
            }

            li {
                cursor: pointer;
            }

            li:hover {
                .hr {
                    width: 100%;
                    height: 1px;
                    border: 2px solid $primaryGreen;
                }
            }

        }
    }
}

.hr {
    margin-top: 10px;
    width: 0;
    height: 0;
    transition: width .5s;
}

.hr-active {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    border: 2px solid $primaryGreen;
}