$color-text : rgb(120, 120, 120);
$font-text-small: 13px;
 html, body{
    background-color: rgb(239, 239, 239);
 }
 .wrapper-item{
 padding-bottom: 10px;
 background-color: rgb(255, 255, 255);

 }
.wrapper-item:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.title-product{
    color: $font-text-small;
    margin-top: 10px;
}

.title-product p{
    margin-bottom: 5px;
}
.price{
    display: flex;
}

.price p{
margin-right: 13px;
font-weight: bold;
margin-bottom: 5px;
}
a:hover {
text-decoration: none;
color: black;
}
a{
    color: black;
}
.price p2 {
color: $color-text;
font-size: $font-text-small;
}
.origin-price{
    color: $color-text;
    font-size: $font-text-small;   
    text-decoration: line-through;
}

.frame img{
    width: 258px;
}
