.container{
    .row{
        
        .info-product{
            .rate{
                display: flex;
                .ant-rate{
                    font-size: 15px !important;
                }
                .static-number{
                    color: #dd2222;
                    margin-left: 10px;
                    font-weight: 700px;
                }
            }
            .product__details__price{
                font-size: 30px;
                color: #dd2222;
                font-weight: 600;
                margin: 15px 0 15px 0;
            }
            .add-to-card{
                margin: 20px 0;
                display: flex;
                .ant-input-number-input{
                    border: 1px solid #7fad39;
                }
            }
            .primary-btn {
                font-size: 14px;
                padding: 10px 28px 10px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 700;
                background: #7fad39;
                letter-spacing: 2px;
                margin-left: 10px;
            }
        }
    }
}